@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.015);
    /* Дополнительные начальные стили */
  }
  to {
    opacity: 1;
    transform: scale(1);
    /* Дополнительные конечные стили */
  }
}

[data-animation="fadeIn"]{
  opacity: 0;
}

/*///////////////////////////////////////////////*/
@keyframes scaleUp {
  from {
    opacity: 0;
    transform: translateY(80px);
    /* Дополнительные начальные стили */
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    /* Дополнительные конечные стили */
  }
}

[data-animation="scaleUp"]{
  opacity: 0;
  transform: scale(1.015) translateY(80px);
}
/*///////////////////////////////////////////////*/
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
    /* Дополнительные начальные стили */
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    /* Дополнительные конечные стили */
  }
}

[data-animation="slideLeft"]{
  opacity: 0;
  transform: translateX(40px);
}
/*///////////////////////////////////////////////*/
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-40px);
    /* Дополнительные начальные стили */
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    /* Дополнительные конечные стили */
  }
}

[data-animation="slideRight"]{
  opacity: 0;
  transform: translateX(-40px);
}
/*///////////////////////////////////////////////*/
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
    /* Дополнительные начальные стили */
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    /* Дополнительные конечные стили */
  }
}

[data-animation="slideUp"]{
  opacity: 0;
    transform: translateY(40px);
}
/*///////////////////////////////////////////////*/
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
    /* Дополнительные начальные стили */
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    /* Дополнительные конечные стили */
  }
}

[data-animation="slideDown"]{
  opacity: 0;
  transform: translateY(-40px);
}
/*///////////////////////////////////////////////*/